@import url('https://fonts.googleapis.com/css?family=PT+Sans');
body {
    font-family: 'PT Sans', sans-serif;
    /* In case people block custom fonts */
}
.navbar {
    padding: 10vh 10vw;
    margin-top: 0;
    margin-bottom: 0;
    background: #40e0d0;
}
.navbar-item {
    padding: 10vh 10vw;
    margin: 5vh 5vw;
    text-decoration: none;
    color: white;
}
.navbar-item:hover {
    background: #30d0c0;
}